ul{
    list-style:none;
    padding: 0;
    margin: 0;
    background-color: #333;
    overflow: hidden;
    /* para o menu não "estourar" dependendo do conteúdo */
}
li{
    float: left;
    /* Ordenar um do lado do outro */
}
a{
    display: block;
    color: white;
    padding: 14px 20px;
    /* Não precisa clicar necessariamente no nome, um pouco embaixo vai funcionar */
    text-decoration:none;
}
a:hover{
        color:red;
        text-decoration:underline;
        background-color: rgb(166, 115, 96);
        font-size: 15px;
    }

.analise {
    border: 2px solid rgb(11, 11, 39);
    border-radius: 10px;
    width: 400px; 
    
}
.img{
      width: 150px; 
      height: 250px; 
      border-radius: 10px; 
      border: 5px solid rgb(11, 11, 39);

}
body{
    background-color: rgb(123, 100, 144);
}
   

.kafta{
     width: 160px; 
      height: 220px; 
      border-radius: 10px; 
      border: 5px solid rgb(11, 11, 39);
     margin-top: -400px;
     margin-bottom: 40px;
     margin-left: 600px;
}
.observacoes{
    background-color: rgb(27, 108, 6);
}



@media (max-width: 768px) {
    /* Se a tela ficar menor ou igual a 768px, ele vai aplicar essa estrutura  */

    body {
        background: rgb(128, 70, 0);
        color: rgb(179, 48, 48);
    }

    .img{
       
        width: 120px;
        height: 200px;
        display: block;
        margin: auto;
    }

    
     .analise{
        width: 90%;
        font-size: 20px;
        text-align: center;
        margin: auto;
    }
    
    /* vai mudar o texto para verde e o fundo*/
}

@media(max-width: 480px){
     .img{
     
        width: 100px;
        height: 160px;
    }
    }
    
     body {
        background: green;
        color: rgb(122, 179, 48);
    }
    .analise{
        width: 95%;
        font-size: 16px;
        text-align: center;
    }
